<h2>Edit product {{name}}</h2>
<form method="post" action="/edit/{{id}}">
    {{#if error}}
        <div class="error">All fields are required</div>
    {{/if}}
    <label {{#if error.name}}class="error"{{/if}} for="name">Name</label>
    <input type="text" id="name" name="name" value="{{name}}">

    <label {{#if error.description}}class="error"{{/if}} for="description">Description</label>
    <input id="description" name="description" value="{{description}}">

    <label {{#if error.price}}class="error"{{/if}} for="price">Price</label>
    <input type="number" id="price" name="price" step="0.01" value="{{price}}">

    <button>Save</button>
</form>